/*---------Menu-------*/

.top-header{
    background-color: white;
    border: white 1px;
   background-color: #343434;
}
.navbar{
    background-color:#343434!important;
    text-transform: uppercase;

}
.navbar img{
    width: 3%;
}
.navbar-brand{
    color: white!important;   
}
.nav-link{
    color:white!important;
text-transform: capitalize;
margin-right: 40px;
}


.container {
    margin-top: 300px;
    margin-left: 700px;
}
 input{
 width:200px;
height:50px;
 font-size:48px;
}
button{
width:45px;
height: 45px;
 }